<div class="container mt-5">
  <div class="d-flex justify-content-start">
      <span class="me-3 " style="align-content: center;">Enjoy this blog?</span>
      <a href="https://www.buymeacoffee.com/lijotech" target="_blank" class="img-link"
          title="Enjoy this blog? Consider buying me a coffee!"><img src="assets/img/author/bmc.svg?v=0248"
              alt="Buy Me A Coffee" width="231" loading="lazy"></a>
      <a href="https://github.com/sponsors/lijotech" target="_blank"
          class="btn border rounded-3"
          title="Enjoy this blog? Consider sponsoring me on GitHub!"
          style="display: inline-block; margin-left: 10px; align-content: center;color:white"> <span
              class="fs-4">💖</span>
          Sponsor on GitHub</a>
  </div>
</div>